# ===================================
# Основная конфигурация MikroTik-ARMA
# ===================================

# Настройки оркестратора main_start.py
# ====================================
main_start:

  logging:                          # Настройки логирования
    log_level: "INFO"               # Уровень детализации логов: DEBUG, INFO, WARNING, ERROR, CRITICAL

  launch_chain:                              # Настройки цепочки запусков скриптов
    base:                                    ## Основной функционал системы
      dns_fwd: false                          ### Запускать скрипт dns_fwd.py (True/False)
      fetch_as_prefixes: false                ### Запускать скрипт fetch_as_prefixes.py (True/False)
      converter_addressLists: false           ### Запускать скрипт converter_addressLists.py (True/False)
      sync_master: false                      ### Запускать скрипт sync_master.py (True/False)
      sync_slave: false                       ### Запускать скрипт sync_slave.py (True/False)
    additional:                              ## Дополнительный функционал системы
      ip_analyst: false                        ### Запускать группу скриптов ip_analyst-*.py (True/False)
      get_IP_Connections: false                ### Запускать группу скриптов get_IP_Connections-*.py (True/False)
      filter_results_dns: false                ### Запускать группу скриптов filter_results_dns-*.py (True/False)
      backup_Mikrotik: false                   ### Запускать группу скриптов backup_Mikrotik.py (True/False)
      lm_sensors: false                        ### Запускать группу скриптов lm_sensors-*.py (True/False)
      tld_parser: false                        ### Запускать группу скриптов tld_parser.py (True/False)
      get_asn_mmdb: false                      ### Запускать группу скриптов get_asn_mmdb.py (True/False)
      yaml_to_txt: false                       ### Запускать группу скриптов yaml_to_txt.py (True/False)
      json_to_txt: true                        ### Запускать группу скриптов json_to_txt (True/False)
    maintenance:                             ## Обслуживающий функционал системы
      logs_rotate: false                      ### Запускать скрипт logs_rotate.py (True/False)

  settings_cache:                            # Раздел настроек кэша актуальности скриптов. Допустимые параметры (m/h/d/false - минуты/часы/дни/отключен)
    base:                                    ## Актуальность запусков основного функционала
      dns_fwd: "3h"
      fetch_as_prefixes: "1d"
      converter_addressLists: "1h"
      sync_master: "9d"
      sync_slave: "10d"
    additional:                              ## Актуальность запусков дополнительного функционала
      ip_analyst: "1h"
      get_IP_Connections: "5m"
      filter_results_dns: "3h"
      backup_Mikrotik: "1h"
      lm_sensors: "false"
      tld_parser: "1d"
      get_asn_mmdb: "14d"
      yaml_to_txt: "4h"
      json_to_txt: "4h"   
    maintenance:                             ## Актуальность запусков обслуживающего функционала
      logs_rotate: "false"                   ### Отключен - запуск без ограничений

  settings_notify:       # Раздел настроек уведомлений скрипта
   type: "failure"       # Тип уведомлений (all - все, failure - провалы, success - успех)
   telegram: "true"      # Включить отправку уведомлений в Telegram
   email: "true"         # Включить отправку уведомлений на Email
   stop_on_error: "false" # Поведение при ошибке (остановить весь пайплайн или продолжить).

  log_monitoring:               # Раздел настроек для мониторинга логов скриптов
    enabled: true               # Активировать мониторинг логов
    pattern_alerts:             # Шаблоны по которым будут отправляться уведомления (не реагирует на логи самого оркестратора - main_start.py)
      - "Бэкап невалиден"
      - "Ошибка авторизации"
      - "Ошибка при подключении"
      - "SSH ошибка"
      - "Ошибка создания .rsc файла"
      - "превышение °C"
      - "Ошибка сети"
      - "Ошибка парсинга"
      - "ошибка от API"
      - "tld_parser завершил работу с ошибками"
      - "ASN MMDB файл не найден"
      - "Ошибка скачивания MMDB - IPLocate"
      - "Проверка структуры не пройдена"
      - "Ошибка разбора YAML файла"
      - "Ошибка парсинга JSON"

  scripts_discovery:                   # Секция расширения функционала Additional
    additional:
      patterns:                        # Паттерн масок скриптов (влияет на очередность исполнения)
        - "backup_Mikrotik-*.py"       # Группа выполнится 1-й
        - "get_IP_Connections-*.py"    # Группа выполнится 2-й
        - "yaml_to_txt-*.py"           # Группа выполнится 3-й
        - "json_to_txt-*.py"           # ...
        - "ip_analyst-*.py"            
        - "lm_sensors-*.py"
        - "filter_results_dns-*.py"
        - "tld_parser.py"
        - "get_asn_mmdb.py"
      base_name_patterns:
        backup_Mikrotik: "^backup_Mikrotik"
        lm_sensors: "^lm_sensors"
        get_IP_Connections: "^get_IP_Connections"
        ip_analyst: "^ip_analyst"
        filter_results_dns: "^filter_results_dns"
        tld_parser: "^tld_parser"
        get_asn_mmdb: "^get_asn_mmdb"
        yaml_to_txt: "^yaml_to_txt"
        json_to_txt: "^json_to_txt"

# Настройки скрипта dns_fwd.py
# ============================
dns_fwd:
  data_source: "logs"  # Источник получения данных: logs -> файлы-журналы | metrics -> API
  metrics:             # Раздел настроек режима 'metrics'
    url: "http://localhost:8080/api/metrics" # Адрес API
    auth_user: "myuser"  # опционально, null - без auth user
    auth_pass: "mypassword-user"  # опционально, null - без auth pass
    recent_count: 100  # Количество последних записей (по умолч. отдаёт dnscrypt-proxy -> 100)
    timeout: 10 # время без ответа API

  logging:
    query_log_path: "/path/to/dnscrypt/logs/query.log"  # Основной путь до лог файла DNSCrypt
    log_level: "INFO"                                   ## DEBUG/INFO/WARNING/ERROR/CRITICAL

  resolver:
    dns_servers:                 # Список используемых серверов DNS
      - "127.0.0.1"              # DNSCrypt1 - localhost
    ip_type:                     # Настройки резолвинга IP
      ipv4: true                 # Резолвить IPv4 (True/False)
      ipv6: true                 # Резолвить IPv6 (True/False)
    ttl_failed_resolve: "1d"     # Период хранения кэша для доменов, которые не отрезолвились (1d/5d/2w/1m:day/week/month)
    parallel:
      enabled: false             # Включить параллельную обработку (true/false)
      max_workers: 5             # Общее число потоков
      batch_size: 10             # Доменов за раз
      delay: 0.2                 # Задержка между пачками (сек.)
    timeout: 3

  storage_raw_data:               # Настройки хранения raw-data
    retention_days_domain: "14d"  # Количество дней хранить неактивные домены
    retention_days_ips: "7d"      # Количество дней хранить неактиные (historical) IP доменов
    backup_files: 2               # Количество backup-копий
    skip_duplicates: false         # Пропускать дубликаты шаблонов при формировании results-dns.yaml (true - не пропускать/false - пропускать) 

# Настройки скрипта fetch_as_prefixes.py
# ======================================
fetch_as_prefixes:

  logging:                  # Настройки логирования
    log_level: "INFO"       ## Уровень детализации логов: DEBUG, INFO, WARNING, ERROR, CRITICAL

  cache_serv:               # Настройки кэша
    ttl: 86400              ## Время актуальности кэша (сек.) = 24 часа

  settings_api:             # Настройки API получения префиксов ASN
    delay: 2                ## Задержка между запросами
    max_retries: 2          ## Количество запросов при неудачной попытке
    user_agent: "ARMA - Get-Prefix - example@mail.com" # Настройки HTTP User-Agent. Укажите свои данные.

  source_priority:          # Настройка приоритетов внеших источников
    - "ripe_stat"           ## Первый приоритет
    - "bgp_tools"           ## Третий приоритет

  url_service:              # URL внешних сервисов для получения префиксов
    ripe_stat: "https://stat.ripe.net/data/announced-prefixes/data.json?resource={asn}"
    bgp_tools: "https://bgp.tools/table.txt"

  ip_type:                  # Настройки получаемых префиксов
    ipv4: true              ## true/false получать префиксы IPv4
    ipv6: true              ## true/false получать префиксы IPv6

  storage_raw_data:         # Настройки хранения необработанных данных
    backup_files: 3         ## Количество хранимых бэкапов (по умолчанию 3)
    
# Настройки скрипта converter_addressLists.py
# ===========================================
converter_add_list:

  logging:                    # Настройки логирования
    log_level: "INFO"         ## Уровень детализации логов: DEBUG, INFO, WARNING, ERROR, CRITICAL

  settings_gen:                # Настройки генерации файлов *.rsc
    skip_domains: false        ## Пропустить генерацию файлов с доменами (true/false)
    skip_ips: false            ## Пропустить генерацию файлов с IP на основе доменных имён (true/false)
    skip_asn: false            ## Пропустить генерацию файлов с AS префиксами (true/false)

  cache_sett:                  # Настройки кэша
    ttl: 7                     ## Время актуальности кэша (дни) = 7 дней


# Настройки скрипта sync_master.py
# ================================
sync_master:

  logging:                      # Настройки логирования
    log_level: "INFO"           # Уровень детализации логов: DEBUG, INFO, WARNING, ERROR, CRITICAL

  sett_auth:                    # Настройки аутентификации
    use_ssl: false              # Использовать SSL/TLS для подключения (true/false). При false данные передаются в открытом виде.

  setting_sync:                 # Раздел настроек синхронизации Master
    mode: "asn"                 ## Режим синхронизации:
                                ### domains - домены | ips - IP-адреса | asn - AS-префиксы
                                ### dom-asn - домены + ASN | ips-asn - IP доменов + ASN

    update_delay: 0.1           ## Задержка между операциями (секунды)
    batch_size: 3500            ## Пакетная обработка записей (BATCH_SIZE)
    ipv4_sync: true             ## Включить/отключить синхронизацию IPv4 (True/False)
    ipv6_sync: true             ## Включить/отключить синхронизацию IPv6 (True/False)

# Настройки скрипта sync_slave.py
# ===============================
sync_slave:

  logging:               # Настройки логирования
    log_level: "DEBUG"   ## Уровень детализации логов: DEBUG, INFO, WARNING, ERROR, CRITICAL

  sett_auth:             # Настройки аутентификации
    use_ssl: false       ## Использовать SSL/TLS для подключения (true/false). При false данные передаются в открытом виде.

  setting_sync:          # Основные параметры синхронизации
    timeout: 3           ## Таймаут подключения к устройству (в секундах)
    update_delay: 1   ## Задержка между операциями (секунды)
    batсh_size: 1200     ## Пакетная обработка записей (BATCH_SIZE)

  parallel:              # Настройки параллельной обработки
    enabled: false       ## Включить параллельный режим (true/false)
    count_slave: 2       ## Максимальное количество одновременно обрабатываемых Slave устройств
    max_workers: 4       ## Общее количество рабочих потоков для обработки списков
    batch_size: 100      ## Размер пакета для групповых операций в параллельном режиме
    delay: 0.3           ## Задержка между пакетами операций в параллельном режиме (в секундах)

# Настройки скрипта logs_rotate.py
# ================================
logs_rotate:
  max_dir_size: 5         # Максимальный размер директории с логами (в МБ)
  count_arch_logs: 3      # Количество архивов хранения


# ===================================================
# Дополнительные (additional) параметры MikroTik-ARMA
# ===================================================

# -----------------------------------------------------------------
# Более приоритетная, чем конфигурация в скриптах - 'DEFAULT_CONFIG'
# -----------------------------------------------------------------

# Настройка группы скриптов ip_analyst-*.py
# =========================================
ip_analyst:
#--------------
#ExampleScripts <- 1-й пример скрипта-клиента из scripts/additional/ip_analyst/
#--------------
  ExampleScripts: # имя скрипта из scripts/additional/ip_analyst/ip_analyst-ExampleScript.py
    ip_list_dir: ['raw-data/ExampleList1/DNS/', 'raw-data/ExampleList2/DNS/'] # Входные данные для отбора и фильтрации (поддерживает TXT, JSON, YAML)
    mapping_file_path: ['raw-data/ASN-db/ip-to-asn.schema.json'] # Путь до схемы файла (маппинг данных) структуры MMDB. Хранится по тому же пути, что MMDB (если скачана через скрипт scripts/additional/utility/get_asn_mmdb.py)
    dns_file_filter: 'none'  # Входной файл results-dns.yaml для исключения адресов
    asn_db_file: 'raw-data/ASN-db/ip-to-asn.mmdb' # MMDB база для отбора и обогащения адресов 
    output_dir: 'output-data/NewExampleList/Custom' # Путь директории для сохранения выходных данных
    output_filename: 'My-NewExampleList' # Имя используемое для названия файла и формируемого AddressList (RSC)

    prefix_threshold: 3 # Количество IP адресов в префиксе для его агрегации
    asn_filter: 'none' # Фильтрация по ASN
    country_include: 'none' # Фильтрация для включения по коду страны
    country_exclude: 'none' # Фильтрация для ислючения по коду страны
    remove_last_seen: 100 # Удаляет IP адреса старшее N дней
    report_generation: true  # или false - создает отчет об обработанных данных в отдельном файле

#---------------
#ExampleScripts2 <- 2-й пример скрипта-клиента из scripts/additional/ip_analyst/
#---------------
   #... Описание параметров ExampleScripts2

# Настройка группы скриптов filter_results_dns-*.py
# =================================================
filter_results_dns:
#--------------
#ExampleScripts <- 1-й пример скрипта-клиента из scripts/additional/filter_results_dns/
#--------------
  ExampleScripts:
    input_file: 'raw-data/ExampleList/DNS/results-dns.yaml'  # Путь до входящего YAML (results-dns.yaml) для обработки
    output_file: 'raw-data/ExampleList/DNS/filter-results-dns.yaml' # Путь сохранения обработанного results-dns.yaml
    domains_catsort: true # true/false. Генерировать дополнительный файл с категоризацией доменов 2-го ур.

#... Дополнительные скрипты дополняются по такому же принципу

# Настройка группы скриптов yaml_to_txt-*.py
# =================================================
yaml_to_txt:
#-----------
#ExampleList <- 1-й пример скрипта-клиента из scripts/additional/yaml_to_txt
#-----------
  ExampleList:
    yaml_paths: ['raw-data/ExampleList/DNS/results-dns.yaml'] # Входные данные для конвертации
    output_dir: 'raw-data/NewExampleList/TXT' # Выходные данные после конвертации
    recursive_search: false # true/false. Рекурсивный поиск
    type_generation: 'recreation' # Тип генерации: recreation - полностью пересоздаёт TXT файлы /additive - режим дозаписывания, без полного затирания TXT

#... Дополнительные скрипты дополняются по такому же принципу


# Настройка группы скриптов json_to_txt-*.py
# =================================================
json_to_txt:
#------------------------
#ExampleList <- 1-й пример скрипта-клиента из scripts/additional/json_to_txt
#------------------------
  ExampleList:
    json_paths:
      - 'raw-data/ExampleList/report/ExampleList-report.json'
#      - 'raw-data/ExampleList2/report/ExampleList-report.json'
    output_dir: 'raw-data/NewExampleList/TXT/JSON'
    recursive_search: false
    type_generation: 'recreation' # Тип генерации: recreation - полностью пересоздаёт TXT файлы /additive - режим дозаписывания, без полного затирания TXT

